.admin_inp {
  margin-bottom: 2% !important;
  width: 70%;
}

.admin_btn:hover {
  background-color: #5a4831 !important;
  color: black;
  border: none !important;
}

@media all and (max-width: 1024px) {
  .cards {
    width: 930px !important;
    height: 300px !important;
    margin-left: 0 !important;
  }
  .cards_img {
    height: 300px !important;
    width: 30% !important;
  }
  .cards_title {
    font-size: 25px !important;
  }
  .cards_text {
    font-size: 16px !important;
  }
  .cards_price {
    font-size: 20px !important;
  }
  .cards_content {
    width: 50% !important;
    flex-direction: column !important;
  }
  .btn_control {
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 60px !important;
    margin-left: 30px;
  }
  #btn_details {
    margin-left: 5px !important;
  }
  .cards_btn {
    font-size: 12px !important;
    margin-bottom: 7px !important;
  }
}
