@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:wght@300&display=swap");

.homePageIcon {
  border: 2px solid white;
  margin-left: 1460px;
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 200px;
  background-color: #ffffff;
}

.homePageImg {
  margin-left: 12px;
  margin-top: 10px;
}

.homePageIcon1 {
  border: 2px solid white;
  width: 237px;
  height: 60px;
  position: relative;
  bottom: 180px;
  left: 1283px;
  background-color: #ffffff;
  display: flex;
}
.homePageImg1 {
  width: 32px;
  height: 32px;
  margin-top: 13px;
  margin-left: 5px;
}

.homePageIcon2 {
  margin-top: 15px;
  margin-left: 20px;
}

.homePageImg2 {
  width: 9.74px;
  height: 9.74px;
  margin-top: 13px;
  margin-right: 5px;
  position: absolute;
  left: 16px;
  top: 4px;
}
.homePageHight {
  height: 600px;
  width: 100%;
}

.header_block1 {
  display: flex;
}

.headerImg1 {
  width: 510px;
  height: 448px;
  top: 920px;
  margin-top: 150px;
  margin-left: 50px;
}
.header_block_text {
  width: 615px;
  height: 210px;
  top: 1036px;
  left: 173px;
  margin-left: 173px;
  margin-right: 172px;
  margin-top: 150px;
  line-height: 30px;
  font-family: Open Sans;
}

.headerImg2 {
  width: 593px;
  height: 447px;
  top: 1398px;
  margin: 30px;
  margin-left: 0px;
}

.headerImg3 {
  width: 870px;
  height: 447px;
  top: 1398px;
  left: 623px;
  margin-top: 30px;
}

.header_title {
  margin-bottom: 30px;
  line-height: 100%;
}
.header_title2 {
  width: 615px;
  height: 210px;
  font-size: 20px;
}
.header_button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  margin-left: 423px;
  margin-top: 80px;
}
